body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color:lawngreen;
    text-align: center;
    margin: 20px;
}

.calculator {
    display: inline-block;
    text-align: left;
}

.calculator input {
    display: block;
    margin: 15px 0;
    padding: 20px;
    font-size: 18px;
    width: calc(100% - 22px);
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: 8px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}